$color-primary: #f4b224;

$background: #252525;
$background-dark: #030303;
$background-medium: #1b1b1b;
$background-light: #303030;

$text: #d7d7d7;
$text-dark: #878787;
$text-medium: #e8e8e8;
$text-light: #f0f0f0;

$border-clr: #3a3a3a;

$accent-blue: #00b4d8;
$text-accent: $text-dark;